.banner {
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 20px;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0);
  color: white;
  height: 40px;
  font-size: 0.9em;
  align-items: center;
  box-sizing: border-box;
}

.btn {
  border-radius: 6px;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  color:rgb(249, 160, 160);
  border: none;
  height: 24px;
  font-weight: bold;
  background: none;
  cursor: pointer;
}

.btn:hover {
  color:rgb(237, 144, 144);
}
